pipeline/ADLS-to-SQL.json
{
	"name": "ADLS-to-SQL",
	"properties": {
		"activities": [
			{
				"name": "Get ThroughDate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select paramValue from support.jobrunparams where paramName = 'datathroughdate'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlConnectDataIngestion_DS",
						"type": "DatasetReference",
						"parameters": {
							"Sql_connectionstring": {
								"value": "@pipeline().parameters.Sql_connectionstring",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "get_tablelist",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TABLE_SCHEMA, TABLE_NAME\nFROM INFORMATION_SCHEMA.TABLES\nWHERE TABLE_TYPE = 'BASE TABLE' AND TABLE_SCHEMA = 'dbo'\nand TABLE_NAME <> 'Employees'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlConnectDataIngestion_DS",
						"type": "DatasetReference",
						"parameters": {
							"Sql_connectionstring": {
								"value": "@pipeline().parameters.Sql_connectionstring",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_tablelist",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get ThroughDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_tablelist').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "ADLS-to-SQLSerevr_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"modifiedDatetimeStart": {
											"value": "@activity('Get ThroughDate').output.firstRow.paramValue",
											"type": "Expression"
										},
										"wildcardFolderPath": {
											"value": "@concat('tables/silver_',item().TABLE_NAME)",
											"type": "Expression"
										},
										"wildcardFileName": "*parquet",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "ParquetReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ADLS_Databricks_parquet_DS",
									"type": "DatasetReference",
									"parameters": {
										"adls_url": {
											"value": "@pipeline().parameters.adls_url",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlDatabase_Load_DS",
									"type": "DatasetReference",
									"parameters": {
										"Sql_connection": {
											"value": "@pipeline().parameters.Sql_connectionstring",
											"type": "Expression"
										},
										"TABLE_NAME": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										},
										"TABLE_SCHEMA": {
											"value": "@item().TABLE_SCHEMA",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('Update support.jobrunparams set paramValue =''',utcnow(),'''','where paramName = ''','datathroughdate','''',' Select 1')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlConnectDataIngestion_DS",
						"type": "DatasetReference",
						"parameters": {
							"Sql_connectionstring": {
								"value": "@pipeline().parameters.Sql_connectionstring",
								"type": "Expression"
							}
						}
					}
				}
			}
		],
		"parameters": {
			"adls_url": {
				"type": "string",
				"defaultValue": "https://devzathura.dfs.core.windows.net/"
			},
			"Sql_connectionstring": {
				"type": "string",
				"defaultValue": "sql-connection"
			}
		},
		"variables": {
			"ItemName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}