pipeline/ADLS-to-SQL.json
{
	"name": "ADLS-to-SQL",
	"properties": {
		"activities": [
			{
				"name": "ADLS-to-SQLSerevr",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "tables/silver_flights",
							"wildcardFileName": "*parquet",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ADLS_Databricks_parquet_DS",
						"type": "DatasetReference",
						"parameters": {
							"adls_url": {
								"value": "@pipeline().parameters.adls_url",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SQLDatabase_AutoIR_DS",
						"type": "DatasetReference",
						"parameters": {
							"Sql_connectionstring": {
								"value": "@pipeline().parameters.Sql_connectionstring",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Get ThroughDate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select paramValue from support.jobrunparams where paramName = 'datathroughdate'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlConnectDataIngestion_DS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "get_tablelist",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TABLE_SCHEMA, TABLE_NAME\nFROM INFORMATION_SCHEMA.TABLES\nWHERE TABLE_TYPE = 'BASE TABLE' AND TABLE_SCHEMA = 'dbo'\nand TABLE_NAME <> 'Employees'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlConnectDataIngestion_DS",
						"type": "DatasetReference",
						"parameters": {
							"Sql_connectionstring": {
								"value": "@pipeline().parameters.Sql_connectionstring",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_tablelist",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get ThroughDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_tablelist').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "get file list",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ADLS_Databricks_parquet_DS",
									"type": "DatasetReference",
									"parameters": {
										"adls_url": {
											"value": "@pipeline().parameters.adls_url",
											"type": "Expression"
										}
									}
								},
								"fieldList": [],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"modifiedDatetimeStart": {
										"value": "@activity('Get ThroughDate').output.firstRow",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"adls_url": {
				"type": "string"
			},
			"Sql_connectionstring": {
				"type": "string"
			}
		},
		"annotations": []
	}
}