pipeline/Data-Ingestion.json
{
	"name": "Data-Ingestion",
	"properties": {
		"activities": [
			{
				"name": "Postgress-to-adls Data Ingestion",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Postgress-to-adls",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"postgress_hostname": {
							"value": "@pipeline().parameters.config.postgress_hostname\n",
							"type": "Expression"
						},
						"postgress_portnumber": {
							"value": "@pipeline().parameters.config.postgress_port",
							"type": "Expression"
						},
						"postgress_database": {
							"value": "@pipeline().parameters.config.postgress_database",
							"type": "Expression"
						},
						"postgress_username": {
							"value": "@pipeline().parameters.config.postgress_username",
							"type": "Expression"
						},
						"adls_url": {
							"value": "@pipeline().parameters.config.adls_url",
							"type": "Expression"
						},
						"source": "Postgress"
					}
				}
			},
			{
				"name": "SQLServer-to-adls Data Ingestion",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SQLServer-to-adls",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Sql_connectionstring": {
							"value": "@pipeline().parameters.config.sql_connectionstring",
							"type": "Expression"
						},
						"adls_url": {
							"value": "@pipeline().parameters.config.adls_url",
							"type": "Expression"
						},
						"source": "SQLServer"
					}
				}
			},
			{
				"name": "ErrorHandling2",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Postgress-to-adls Data Ingestion",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "GenericErrorHandling",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"receiver": {
							"value": "@pipeline().parameters.config.recipients",
							"type": "Expression"
						},
						"Error": {
							"value": "@concat('Postgress-to-adls Errors -',activity('Postgress-to-adls Data Ingestion').error?.message)",
							"type": "Expression"
						},
						"pipeline_name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ErrorHandling1",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "SQLServer-to-adls Data Ingestion",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "GenericErrorHandling",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"receiver": {
							"value": "@pipeline().parameters.config.recipients",
							"type": "Expression"
						},
						"Error": {
							"value": "@concat('SQLServer-to_adls Errors- ',activity('SQLServer-to-adls Data Ingestion').error?.message)",
							"type": "Expression"
						},
						"pipeline_name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"config": {
				"type": "object"
			}
		},
		"annotations": []
	}
}