pipeline/Data-Ingestion.json
{
	"name": "Data-Ingestion",
	"properties": {
		"activities": [
			{
				"name": "Postgress-to-adls Data Ingestion",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "set_config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Postgress-to-adls",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"postgress_hostname": {
							"value": "@json(variables('config')).postgress_hostname",
							"type": "Expression"
						},
						"postgress_portnumber": {
							"value": "@json(variables('config')).postgress_port",
							"type": "Expression"
						},
						"postgress_database": {
							"value": "@json(variables('config')).postgress_database",
							"type": "Expression"
						},
						"postgress_username": {
							"value": "@json(variables('config')).postgress_username",
							"type": "Expression"
						},
						"adls_url": {
							"value": "@json(variables('config')).adls_url",
							"type": "Expression"
						},
						"source": "Postgress"
					}
				}
			},
			{
				"name": "SQLServer-to-adls Data Ingestion",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "set_config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SQLServer-to-adls",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Sql_connectionstring": {
							"value": "@json(variables('config')).sql_connectionstring",
							"type": "Expression"
						},
						"adls_url": {
							"value": "@json(variables('config')).adls_url",
							"type": "Expression"
						},
						"source": "SQLServer"
					}
				}
			},
			{
				"name": "ErrorHandling2",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Postgress-to-adls Data Ingestion",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "GenericErrorHandling",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"receiver": {
							"value": "@json(variables('config')).recipients",
							"type": "Expression"
						},
						"Error": {
							"value": "@concat('Postgress-to-adls Errors -',activity('Postgress-to-adls Data Ingestion').error?.message)",
							"type": "Expression"
						},
						"pipeline_name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "get_env_params",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "get_runparams",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"adls_url": {
							"value": "@pipeline().parameters.adls_url",
							"type": "Expression"
						},
						"environment": {
							"value": "@pipeline().parameters.environment",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "set_config",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get_env_params",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "config",
					"value": {
						"value": "@activity('get_env_params').output.pipelineReturnValue.config",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ErrorHandling1",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "SQLServer-to-adls Data Ingestion",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "GenericErrorHandling",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"receiver": {
							"value": "@json(variables('config')).recipients",
							"type": "Expression"
						},
						"Error": {
							"value": "@concat('SQLServer-to_adls Errors- ',activity('SQLServer-to-adls Data Ingestion').error?.message)",
							"type": "Expression"
						},
						"pipeline_name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"adls_url": {
				"type": "string",
				"defaultValue": "https://devzathura.dfs.core.windows.net/"
			},
			"environment": {
				"type": "string",
				"defaultValue": "dev"
			}
		},
		"variables": {
			"config": {
				"type": "String"
			}
		},
		"annotations": []
	}
}