pipeline/Data-Ingestion.json
{
	"name": "Data-Ingestion",
	"properties": {
		"activities": [
			{
				"name": "Postgress-to-adls Data Ingestion",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Failed",
				"dependsOn": [
					{
						"activity": "SQLServer-to-adls Data Ingestion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Postgress-to-adls",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"postgress_hostname": {
							"value": "@pipeline().parameters.postgress_hostname",
							"type": "Expression"
						},
						"postgress_portnumber": {
							"value": "@pipeline().parameters.postgress_port",
							"type": "Expression"
						},
						"postgress_database": {
							"value": "@pipeline().parameters.postgress_database",
							"type": "Expression"
						},
						"postgress_username": {
							"value": "@pipeline().parameters.postgress_username",
							"type": "Expression"
						},
						"adls_url": {
							"value": "@pipeline().parameters.adls_url",
							"type": "Expression"
						},
						"source": "Postgress"
					}
				}
			},
			{
				"name": "SQLServer-to-adls Data Ingestion",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SQLServer-to-adls",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Sql_connectionstring": {
							"value": "@pipeline().parameters.sql_connectionstring",
							"type": "Expression"
						},
						"adls_url": {
							"value": "@pipeline().parameters.adls_url",
							"type": "Expression"
						},
						"source": "SQLServer"
					}
				}
			},
			{
				"name": "ErrorHandling",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Postgress-to-adls Data Ingestion",
						"dependencyConditions": [
							"Failed",
							"Skipped"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "GenericErrorHandling",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"receiver": {
							"value": "@pipeline().parameters.receiver",
							"type": "Expression"
						},
						"Error": {
							"value": "@concat('SQLServer-to_adls',activity('SQLServer-to-adls Data Ingestion').error?.message,'\\n','Postgress-to-adls',activity('Postgress-to-adls Data Ingestion').error?.message)",
							"type": "Expression"
						},
						"pipeline_name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "Excel_DS",
						"type": "DatasetReference",
						"parameters": {
							"adls_url": {
								"value": "@pipeline().parameters.adls_url",
								"type": "Expression"
							}
						}
					}
				}
			}
		],
		"parameters": {
			"receiver": {
				"type": "string",
				"defaultValue": "abc@gmail.com"
			},
			"postgress_hostname": {
				"type": "string",
				"defaultValue": "dev-zathura-edw.postgres.database.azure.com"
			},
			"postgress_port": {
				"type": "string",
				"defaultValue": "5432"
			},
			"postgress_database": {
				"type": "string",
				"defaultValue": "Landing"
			},
			"postgress_username": {
				"type": "string",
				"defaultValue": "sv_pgdev"
			},
			"adls_url": {
				"type": "string",
				"defaultValue": "https://devzathura.dfs.core.windows.net/"
			},
			"sql_connectionstring": {
				"type": "string",
				"defaultValue": "sql-connection"
			}
		},
		"annotations": []
	}
}