pipeline/get_runparams.json
{
	"name": "get_runparams",
	"properties": {
		"activities": [
			{
				"name": "get_env_params",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "DataIngestion_Excel_DS",
						"type": "DatasetReference",
						"parameters": {
							"adls_url": {
								"value": "@pipeline().parameters.adls_url",
								"type": "Expression"
							},
							"environment": {
								"value": "@pipeline().parameters.environment",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "collect_params",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_env_params",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_env_params').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "temp1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "temp1",
								"value": {
									"value": "@concat(variables('temp2'),', \"',item().paramName,'\" : \"',item().paramValue,'\"')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "temp2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "temp1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "temp2",
								"value": {
									"value": "@variables('temp1')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "return_config",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "collect_params",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "config",
							"value": {
								"type": "Expression",
								"content": "@concat('{',variables('temp2'),'}')"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"parameters": {
			"adls_url": {
				"type": "string"
			},
			"environment": {
				"type": "string"
			}
		},
		"variables": {
			"temp1": {
				"type": "String"
			},
			"temp2": {
				"type": "String",
				"defaultValue": "\"1\":\"1\""
			}
		},
		"annotations": []
	}
}