pipeline/Zathura_Incremental_load.json
{
	"name": "Zathura_Incremental_load",
	"properties": {
		"activities": [
			{
				"name": "Get Env Params",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "get_runparams",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"adls_url": {
							"value": "@pipeline().parameters.adls_url",
							"type": "Expression"
						},
						"environment": {
							"value": "@pipeline().parameters.environment",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Data Ingestion",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Get Env Params",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Data-Ingestion",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"config": {
							"value": "@json(activity('Get Env Params').output.pipelineReturnValue.config)",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Run Databricks DLT",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Data Ingestion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@json(activity('Get Env Params').output.pipelineReturnValue.config).authorization",
							"type": "Expression"
						}
					},
					"url": {
						"value": "@json(activity('Get Env Params').output.pipelineReturnValue.config).databricks_url",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ADLS to EDW",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Run Databricks DLT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ADLS-to-SQL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"config": {
							"value": "@json(activity('Get Env Params').output.pipelineReturnValue.config)",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"adls_url": {
				"type": "string",
				"defaultValue": "https://devzathura.dfs.core.windows.net/"
			},
			"environment": {
				"type": "string",
				"defaultValue": "dev"
			}
		},
		"variables": {
			"config": {
				"type": "String"
			}
		},
		"annotations": []
	}
}