dev-zathura-adf/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dev-zathura-adf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SQLServer-to-adls')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get tables to load",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select QUOTENAME(schema_name) as schema_name,\nQUOTENAME(table_name) as table_name,\nlast_writtentimestamp as last_writtentimestamp\nfrom support.controlrunparams\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlConnectDataIngestion_DS",
								"type": "DatasetReference",
								"parameters": {
									"Sql_connectionstring": {
										"value": "@pipeline().parameters.Sql_connectionstring",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Run for each table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get tables to load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get tables to load').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "get_loadtimestamp",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('Select coalesce(max(load_timestamp),''','1900-01-02 00:00:00','''',') as load_timestamp from ',item().table_name)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "AzureSqlConnectDataIngestion_DS",
											"type": "DatasetReference",
											"parameters": {
												"Sql_connectionstring": {
													"value": "@pipeline().parameters.Sql_connectionstring",
													"type": "Expression"
												}
											}
										}
									}
								},
								{
									"name": "cmp_load-written_Timestamp",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "get_loadtimestamp",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greater(string(activity('get_loadtimestamp').output.firstRow.load_timestamp),string(item().last_writtentimestamp))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "SQLServer to ADLS",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@concat('SELECT * FROM ',item().schema_name,'.',item().table_name,' WHERE coalesce(load_timestamp, ''','1900-01-02','''',') <=''',activity('get_loadtimestamp').output.firstRow.load_timestamp,'''',' and coalesce(load_timestamp, ''','1900-01-02','''',') > ''',item().last_writtentimestamp, '''')",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings",
															"maxRowsPerFile": 100
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "AzureSqlConnectDataIngestion_DS",
														"type": "DatasetReference",
														"parameters": {
															"Sql_connectionstring": {
																"value": "@pipeline().parameters.Sql_connectionstring",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DataIngestion_Parquet_DS",
														"type": "DatasetReference",
														"parameters": {
															"adls_url": {
																"value": "@pipeline().parameters.adls_url",
																"type": "Expression"
															},
															"table_name": {
																"value": "@string(item().table_name)",
																"type": "Expression"
															},
															"source": {
																"value": "@pipeline().parameters.source",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "update_controlrunparams",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "SQLServer to ADLS",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@concat('update support.controlrunparams set last_writtentimestamp = ''',activity('get_loadtimestamp').output.firstRow.load_timestamp,'''',' where table_name = ''',replace(replace(item().table_name,'[',''),']',''),'''','; Select 1 as abc')",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "AzureSqlConnectDataIngestion_DS",
														"type": "DatasetReference",
														"parameters": {
															"Sql_connectionstring": {
																"value": "@pipeline().parameters.Sql_connectionstring",
																"type": "Expression"
															}
														}
													}
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Sql_connectionstring": {
						"type": "string",
						"defaultValue": "sql-connection"
					},
					"adls_url": {
						"type": "string",
						"defaultValue": "https://devzathura.dfs.core.windows.net/"
					},
					"source": {
						"type": "string",
						"defaultValue": "SQLServer"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/get_runparams')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get_env_params",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"dataset": {
								"referenceName": "DataIngestion_Excel_DS",
								"type": "DatasetReference",
								"parameters": {
									"adls_url": {
										"value": "@pipeline().parameters.adls_url",
										"type": "Expression"
									},
									"environment": {
										"value": "@pipeline().parameters.environment",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "collect_params",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "get_env_params",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get_env_params').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "temp1",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "temp1",
										"value": {
											"value": "@concat(variables('temp2'),', \"',item().paramName,'\" : \"',item().paramValue,'\"')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "temp2",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "temp1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "temp2",
										"value": {
											"value": "@variables('temp1')",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "return_config",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "collect_params",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "config",
									"value": {
										"type": "Expression",
										"content": "@concat('{',variables('temp2'),'}')"
									}
								}
							],
							"setSystemVariable": true
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"adls_url": {
						"type": "string"
					},
					"environment": {
						"type": "string"
					}
				},
				"variables": {
					"temp1": {
						"type": "String"
					},
					"temp2": {
						"type": "String",
						"defaultValue": "\"1\":\"1\""
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Data-Ingestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Postgress-to-adls Data Ingestion",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "set_config",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Postgress-to-adls",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"postgress_hostname": {
									"value": "@json(variables('config')).postgress_hostname",
									"type": "Expression"
								},
								"postgress_portnumber": {
									"value": "@json(variables('config')).postgress_port",
									"type": "Expression"
								},
								"postgress_database": {
									"value": "@json(variables('config')).postgress_database",
									"type": "Expression"
								},
								"postgress_username": {
									"value": "@json(variables('config')).postgress_username",
									"type": "Expression"
								},
								"adls_url": {
									"value": "@json(variables('config')).adls_url",
									"type": "Expression"
								},
								"source": "Postgress"
							}
						}
					},
					{
						"name": "SQLServer-to-adls Data Ingestion",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "set_config",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQLServer-to-adls",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Sql_connectionstring": {
									"value": "@json(variables('config')).sql_connectionstring",
									"type": "Expression"
								},
								"adls_url": {
									"value": "@json(variables('config')).adls_url",
									"type": "Expression"
								},
								"source": "SQLServer"
							}
						}
					},
					{
						"name": "ErrorHandling2",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Postgress-to-adls Data Ingestion",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "GenericErrorHandling",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"receiver": {
									"value": "@json(variables('config')).recipients",
									"type": "Expression"
								},
								"Error": {
									"value": "@concat('Postgress-to-adls Errors -',activity('Postgress-to-adls Data Ingestion').error?.message)",
									"type": "Expression"
								},
								"pipeline_name": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "get_env_params",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "get_runparams",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"adls_url": {
									"value": "@pipeline().parameters.adls_url",
									"type": "Expression"
								},
								"environment": {
									"value": "@pipeline().parameters.environment",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "set_config",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "get_env_params",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "config",
							"value": {
								"value": "@activity('get_env_params').output.pipelineReturnValue.config",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ErrorHandling1",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "SQLServer-to-adls Data Ingestion",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "GenericErrorHandling",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"receiver": {
									"value": "@json(variables('config')).recipients",
									"type": "Expression"
								},
								"Error": {
									"value": "@concat('SQLServer-to_adls Errors- ',activity('SQLServer-to-adls Data Ingestion').error?.message)",
									"type": "Expression"
								},
								"pipeline_name": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"adls_url": {
						"type": "string",
						"defaultValue": "https://devzathura.dfs.core.windows.net/"
					},
					"environment": {
						"type": "string",
						"defaultValue": "dev"
					}
				},
				"variables": {
					"config": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/SQLServer-to-adls')]",
				"[concat(variables('factoryId'), '/pipelines/get_runparams')]"
			]
		}
	]
}